.home {
    text-align: center;
    padding: 20px;
   
   }
   .recipe-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   }
   a:hover {
    color: #2980b9;
   
    transform: scale(1.2); 
  }